$break-large: 986px;

@import "compass/reset.scss";
@import "compass/layout.scss";

@import "responsive";

@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:400,700);
@import "font";

@include sticky-footer(48px, "#wrap", "aside", "footer");

h1, h2, h3, h4, h5, h6{
    font-family: 'trump town pro';
}
h1{ 
    font-size: 64px; 
}
h2{
    font-size: 48px; 
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
