<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{site.name}} &ndash; {{page.title}}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <section id="wrap">
            <header>
                <h1><a href="/">{{site.name}}</a></h1>
                <h2>{{page.title}}</h2>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>
            </header>

            <main id="{{page.id}}">
                {{ content }}
            </main>
            <aside>
                {% include pages.html %}
                {% include posts.html %}
            </aside>
        </section>

        <footer>
            <p>
                Infolab
            </p>
        </footer>

        </body>
        </html>
